<a href="https://colab.research.google.com/github/sanenchan/SistemCerdas/blob/main/Forest/1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import numpy as np
from sklearn import metrics

In [2]:
url = 'https://raw.githubusercontent.com/sanenchan/SistemCerdas/main/Forest/petrol_consumption.csv'
df = pd.read_csv(url ,encoding="latin-1")
df.head()

   Petrol_tax  Average_income  ...  Population_Driver_licence(%)  Petrol_Consumption
0         9.0            3571  ...                         0.525                 541
1         9.0            4092  ...                         0.572                 524
2         9.0            3865  ...                         0.580                 561
3         7.5            4870  ...                         0.529                 414
4         8.0            4399  ...                         0.544                 410

[5 rows x 5 columns]

In [3]:
X = df.iloc[:, 0:4].values
Y = df.iloc[:,4].values

In [4]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y , test_size = 0.2, random_state=0)

In [5]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [10]:
regresor = RandomForestRegressor(n_estimators=20, random_state=0)
regresor.fit(X_train, Y_train)
Y_pred = regresor.predict(X_test)

In [11]:
MAError = metrics.mean_absolute_error(Y_test, Y_pred)
print(MAError)

51.76500000000001

In [12]:
MSError = metrics.mean_squared_error(Y_test, Y_pred)
print(MSError)

4216.166749999999