In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_excel('/home/jovyan/lokal.xls')

In [7]:
data.head()

  Kejadian    Cuaca Temperatur Kelembaban Berangin Bermain
0       K1  Berawan      Panas     Tinggi    Tidak      Ya
1       K2  Berawan     Dingin     Normal       Ya      Ya
2       K3  Berawan     Hangat     Tinggi       Ya      Ya
3       K4  Berawan      Panas     Normal    Tidak      Ya
4       K5    Hujan     Hangat     Tinggi    Tidak      Ya

In [8]:
data.head()

  Kejadian    Cuaca Temperatur Kelembaban Berangin Bermain
0       K1  Berawan      Panas     Tinggi    Tidak      Ya
1       K2  Berawan     Dingin     Normal       Ya      Ya
2       K3  Berawan     Hangat     Tinggi       Ya      Ya
3       K4  Berawan      Panas     Normal    Tidak      Ya
4       K5    Hujan     Hangat     Tinggi    Tidak      Ya

In [9]:
data.shape

(14, 6)

In [10]:
#Bagian satu

In [11]:
data['Bermain'].value_counts()

Ya       9
Tidak    5
Name: Bermain, dtype: int64

In [12]:
BermainYa = 9/14
BermainTidak = 5/14

In [13]:
print(BermainYa)
print(BermainTidak)

0.6428571428571429
0.35714285714285715

In [14]:
#Bagian 2

In [15]:
pd.crosstab(data['Cuaca'], data['Bermain'])

Bermain  Tidak  Ya
Cuaca
Berawan      0   4
Cerah        3   2
Hujan        2   3

In [16]:
CerahYa = 2/9
CerahTidak = 3/5

In [17]:
 #Bagian 2.1

In [18]:
DinginYa = 3/9
DinganTidak = 1/5

In [19]:
pd.crosstab(data['Temperatur'], data['Bermain'])

Bermain     Tidak  Ya
Temperatur
Dingin          1   3
Hangat          2   4
Panas           2   2

In [22]:
DinginYa = 3/9
DinginTidak = 1/5

In [23]:
#Bagian 2.2

In [24]:
pd.crosstab(data['Kelembaban'], data['Bermain'])

Bermain     Tidak  Ya
Kelembaban
Normal          1   6
Tinggi          4   3

In [25]:
TinggiYa = 3/9
TinggiTidak = 4/5

In [26]:
#Bagian 2.3

In [28]:
pd.crosstab(data['Berangin'], data['Bermain'])

Bermain   Tidak  Ya
Berangin
Tidak         2   6
Ya            3   3

In [29]:
AnginTidakYa = 6/9
AnginTidakTidak = 1/5

In [30]:
#Tahap 3

In [31]:
P_BermainYa = CerahYa * DinginYa * TinggiYa * AnginTidakYa

In [32]:
print(P_BermainYa)

0.016460905349794237

In [33]:
P_BermainTidak = CerahTidak * DinginTidak * TinggiTidak * AnginTidakTidak

In [34]:
print(P_BermainTidak)

0.019200000000000002

In [35]:
#Tahap 4

In [40]:
PBermainYaYa = P_BermainYa * BermainYa
print(PBermainYaYa)

0.010582010582010581

In [41]:
PBermainTidakTidak = P_BermainTidak * BermainTidak
print(PBermainTidakTidak)

0.006857142857142858